* {
    margin: 0;
}

body {
    background: linear-gradient(lightblue,black);
    background-size: cover;
}

@media screen and (min-width:1024px) {
    .GridWrapper {
    display: grid;
    height: 600vh;
    width: 100%;
    grid-template-areas:
    "na na na na na"
    "he he he he he"
    "s1 s1 s1 s1 s1"
    "s2 s2 s2 s2 s2"
    "s3 s3 s3 s3 s3"
    "s4 s4 s4 s4 s4"
    "s5 s5 s5 s5 s5"
    "fo fo fo fo fo"
    ;
    grid-template-rows: 1% auto auto auto auto auto auto 5%;
    grid-template-columns: repeat(5, 1fr);
    }

    #header {
        grid-area: he;
    }

    #nav {
        grid-area: na;
        background-color: rgba(192, 192, 192, 0.6);
        position: sticky;
        top: 0;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        float: left;
    }

    li > a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
    }

    li > a:hover {
        background-color: black;
    }

    ul > li > #left {
        display: flex;
        justify-content: right;
    }

    #s1 {
        display: flex;
        grid-area: s1;
        background-color: rgba(192, 192, 192, 0.6);
    }

    #karta {
        justify-self: center;

    }
    
    #s2 {
        grid-area: s2;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s3 {
        grid-area: s3;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s4 {
        grid-area: s4;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s5 {
        grid-area: s5;
        background-color: rgba(192, 192, 192, 0.6);
    }

    #footer {
        grid-area: fo;
        background-color: rgba(192, 192, 192, 0.6);
    }

}

@media screen and (max-width:1023px) {
    .GridWrapper {
    display: grid;
    height: 600vh;
    width: 100%;
    grid-template-areas: 
    "na na"
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "s5 s5"
    "fo fo"
    
    ;
    grid-template-rows: 1% auto auto auto auto auto auto 5%;
    grid-template-columns: repeat(2, 1fr);
    }

    #nav {
        grid-area: na;
        background-color: rgba(192, 192, 192, 0.6);
        position: sticky;
        top: 0;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        float: left;
    }

    li > a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
    }

    li > a:hover {
        background-color: black;
    }

    #s1 {
        grid-area: s1;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s2 {
        grid-area: s2;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s3 {
        grid-area: s3;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s4 {
        grid-area: s4;
        background-color: rgba(192, 192, 192, 0.6);
    }
    
    #s5 {
        grid-area: s5;
        background-color: rgba(192, 192, 192, 0.6);
    }

    #footer {
        grid-area: fo;
        background-color: rgba(192, 192, 192, 0.6);
    }
}

