@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

@media screen and (min-width:1024px) {
    .GridWrapper {
    display: grid;
    grid-template-areas:
    "na na na na na"
    "he he he he he"
    "s1 s1 s1 s1 s1"
    "s2 s2 s2 s2 s2"
    "s3 s3 s3 s3 s3"
    "fo fo fo fo fo"
    ;
    grid-template-rows: auto 100vh auto auto auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    }

    #startbild {
        max-width: 100%;
        margin: 3rem 3rem 3rem 0;
    }

    .menyknapp {
        display: none;
    }

    #header {
        display: flex;
        grid-area: he;
        background-color: #0B5267;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #header > div > h1 {
        max-width: 100%;
        width: 100%;
        font-size: 5em;
        text-transform: uppercase;
    }

    #header > div > p {
        display: flex;
        font-size: 3em;
        justify-content: center;
        text-transform: uppercase;
    }


    #nav {
        grid-area: na;
        background-color: #204B62;
        position: sticky;
        top: 0;
    }

    #logga_mobil {
        display: none;
    }

    #logga {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 5vh;
        margin-top: 1.5rem;
        margin-left: 3rem;
        max-height: 100%;
        max-width: 100%;
    }

    .active {
        background-color: #183849;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
    }
    
    li {
        float: left;
    }

    li > a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 30px 40px;
        text-decoration: none;
        font-size: 25px;
    }

    li > a:hover {
        background-color: #09161d;
    }

    ul > li > #left {
        display: flex;
        justify-content: right;
    }

    #s1 {
        display: flex;
        grid-area: s1;
        background-color: #128383;
        padding: 2rem;
    }

    #om_oss {
        display: flex;
        background-color: white;
        margin: 1.5rem;
        width: 90vw;
        height: 40vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #om_oss > p {
        text-align: center;
        line-height: 1.7;
        max-width: 70ch;
        margin-bottom: 2rem;
    }

    #om_oss > h2 {
        margin-bottom: 1.5rem;
    }

    #om_oss > h2 {
        color:#128383;
    }

    #knapp_om_oss {
        padding: 1rem 2rem;
        display: inline-block;
        color: #128383;
        border: 0.1rem #128383 solid;
        border-radius: 2rem;
        transition: color 0.4s ease;
    }

    #knapp_om_oss:hover {
        background-color: #128383;
        color: white;
        cursor: pointer;
    }
    
    #s2 {
        padding: 2rem;
        display: flex;
        grid-area: s2;
        background-color: #0B5267;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #div1_s2 {
        margin-top: 1rem;
        color: white;
    }

    #div2_s2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        max-width: 90vw;
    }

    #div_div2_s2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
    
    #div_div2_s2 > p {
        max-width: 65ch;
        text-align: center;
    }

    
    #div_div2_s2 > h3 {
        margin: 10px;
    }
    
    #div3_s2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        max-width: 90vw;
    }

    #div_div3_s2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    #div_div3_s2 > p {
        max-width: 65ch;
        text-align: center;
    }

    #div_div3_s2 > h3 {
        margin: 10px;
    }

    #bild1_s2 {
        margin:3rem 0 3rem 3rem;
        width: 50vw;
        max-width: 100%;

    }

    #bild2_s2 {
        margin: 3rem 3rem 3rem 0;
        width: 50vw;
        max-width: 100%;
    }

    #s3 {
        padding: 1rem;
        display: flex;
        grid-area: s3;
        background-color: #204B62;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #biggerdiv_kop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 90vw;
    }

    #s3 > div > div {
        margin: 1rem;
    }

    .price_pic {
        height: auto;
        width: 100%;
    }

    .price_pic:hover {
        filter: alpha(opacity=80);
        opacity: .6;       
        cursor: pointer;
    }

    .bigdiv_kop {
        border: 0.3rem white solid;
    }

    .div_kop {
        padding: 1rem;
    }

    .rubrik_kop {
        border-bottom: 0.2rem white solid;
        padding-bottom: 1rem;
        color: white;
    }

    .text_kop {
        color: white;
        padding: 3rem 0;
    }

    .knapp_kop {
        display: inline-block;
        padding: 1rem;
        background-color: #132d3b;
        color: white;
        border: 0.1rem white solid;
    }

    .knapp_kop:hover {
        background-color: #09161d;
        cursor: pointer;
    }

    #footer {
        padding: 2rem;
        display: flex;
        grid-area: fo;
        background-color:#128383;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #div_div_footer {
        display: flex;
        background-color: white;
        height: 42vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #div_div_footer > h2 {
        color: #128383;
        font-size: 3.5rem;
        margin-bottom: 2vh;
    }

    #div_div_footer > p {
        margin-bottom: 2vh;
    }



    #karta {
        width: 90vw;
        height: 42vh;
    }

}

@media screen and (max-width:1023px) {
    
    .GridWrapper {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "mb mb"
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    
    ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: repeat(2, 1fr);
    }

    #logga {
        display: none;
    }

    #logga_mobil {
        position: fixed;
        top: 0;
        left: 0;
        height: 5vh;
        margin-top: 0.4rem;
        margin-left: 2rem;
        max-width: 100%;
        max-height: 100%;
    }

    .material-icons {
        font-size: 7vh;
    }
    
    .menyknapp {
        display: flex;
        grid-area: mb;
        background-color: #204B62;
        position: fixed;
        top: 0;
        height: 7vh;
        width: 100vw;
        justify-content: flex-end;
    }

    #startbild {
        margin-top: 4rem;
        height: 25vh;
    }

    #header {
        display: flex;
        grid-area: he;
        background-color: #0B5267;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #header > div > p {
        text-align: center;
        margin: 1rem;
    }

    nav {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 25vw;
        background: #204B62;
        top: 0;
        right: -100vw;
        transition: right 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
        z-index: 10;
        overflow: hidden;
        padding: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    ul > li > a {
        font-size: 1em;
    }

    .show {
        right: 0;
    }

    .fade_layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 5;
    }

    .visible {
        display: block;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    
    li {
        float: left;
    }

    li > a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        border-bottom: 0.2rem black solid;
    }

    li > a:hover {
        color: black;
    }

    #s1 {
        display: flex;
        grid-area: s1;
        background-color: #128383;
        justify-content: center;
        padding: 1rem;
    }

    #om_oss {
        display: flex;
        background-color: white;
        width: 90vw;
        height: 40vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #om_oss > p {
        text-align: center;
        max-width: 65ch;
        font-size: 0.7em;
        margin: 1rem;
    }
    
    #knapp_om_oss {
        padding: 1rem 2rem;
        display: inline-block;
        color: #128383;
        border: 0.1rem #128383 solid;
        border-radius: 2rem;
        transition: color 0.4s ease;
    }

    #knapp_om_oss:hover {
        background-color: #128383;
        color: white;
        cursor: pointer;
    }

    #s2 {
        grid-area: s2;
        background-color: #0B5267;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #div1_s2 {
        margin: 1rem;
        color: white;
    }

    #div_div2_s2 > p {
        color: white;
        margin: 1rem;
        max-width: 65ch;
    }

    #div_div2_s2 > h3 {
        color: white;
        margin: 1rem;
    }

    #div_div3_s2 > p {
        color: white;
        margin: 1rem;
        max-width: 65ch;
    }

    
    #div_div3_s2 > h3 {
        color: white;
        margin: 1rem;
    }

    #bild1_s2 {
        max-width: 100%;
        height: 35vh;
    }

    #bild2_s2 {
        display: none;
    }
    
    #s3 {
        grid-area: s3;
        background-color: #204B62;
        padding: 2rem;
    }

    .price_pic {
        height: auto;
        width: 100%;
    }

    .price_pic:hover {
        filter: alpha(opacity=80);
        opacity: .6;       
        cursor: pointer;
    }

    .bigdiv_kop {
        border: 0.3rem white solid;
        margin: 1rem;
    }

    .div_kop {
        padding: 1rem;
    }

    .rubrik_kop {
        border-bottom: 0.2rem white solid;
        padding-bottom: 1rem;
        color: white;
    }

    .text_kop {
        color: white;
        padding: 3rem 0;
    }

    .knapp_kop {
        display: inline-block;
        padding: 1rem;
        background-color: #132d3b;
        color: white;
        border: 0.1rem white solid;
    }

    .knapp_kop:hover {
        background-color: #09161d;
        cursor: pointer;
    }

    #footer {
        padding: 1rem;
        display: flex;
        grid-area: fo;
        background-color:#128383;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #div_div_footer {
        display: flex;
        background-color: white;
        height: 42vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #div_div_footer > h2 {
        color: #128383;
        font-size: 2rem;
        margin-bottom: 2vh;
    }

    #div_div_footer > p {
        margin-bottom: 2vh;
    }

    #karta {
        width: 90vw;
        height: 42vh;
    }


}

